{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="course-page-title">Nos Cours</h1>

	<div class="course-cards-container">
		{% for course in courses %}
			<a href="{{ path('app_cours_view', { id: course.id, page: 1 }) }}" class="course-card">
				<div class="course-card-image">
					<img src="{{ asset('images/' ~ course.image) }}" alt="Image du cours">
				</div>
				<div class="course-card-content">
					<span class="course-category">{{ course.language|upper }}
						- COURS</span>
					<h2 class="course-title-card">{{ course.title }}</h2>
					<div class="course-meta">
						<span class="course-difficulty">
							<i class="fas fa-signal"></i>
							{{ course.difficulty }}
						</span>
						<span class="course-duration">
							<i class="far fa-clock"></i>
							{{ course.duration }}
						</span>
					</div>
					<p class="course-description">{{ course.description }}</p>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
